@import url("https://fonts.googleapis.com/css2?family=Literata&display=swap");

.custom-select {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.custom-select option {
  background-color: #F2F2F2; 
}

.custom-gradient {
  background: linear-gradient(
    179.05deg,
    #cbcafa 0.82%,
    #e9e9ff 43.39%,
    #ffffff 99.19%
  );
}

.custom-gradient2 {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0EAFF 100%);
}

.custom-gradient3 {
  background: linear-gradient(0deg, #DCDBFF 26.59%, #FEFEFF 83.15%);
}
.custom-gradient4 {
  background: linear-gradient(0deg, #F8F8FF, #FEF5F2);
}

.custom-gradient5 {
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F4FF 52.5%, #F0EAFF 100%);
}

.ellipse{
  width: 180px;
  height: 180px;
  background-color: #ededffe8;
  border-radius: 50%; 
  box-shadow: 0 0 60px 30px #efeffebd, 0 0 100px 60px #f0f0ff, 0 0 140px 90px #e6e6ffdb;
}
.ellipse2{
  width: 240px;
  height: 180px;
  background-color: #ededff;
  border-radius: 50%; 
  box-shadow:
    0 0 60px 30px #ededff, 
    0 0 100px 60px #f5f5ff, 
    0 0 140px 90px #dcdcf8; 
}
.ellipse3{
    width: 300px;
    height: 300px;
    background-color: #ededff;
    border-radius: 50%;
    box-shadow: 0 0 60px 30px #ededff, 0 0 100px 60px #f5f5ff, 0 0 140px 90px #dcdcf8;
}

input[type="checkbox"] {
  accent-color: #60359E;
}

.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid transparent;
	border-radius: 50%;
	background:white;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #60359E;
  	border-bottom: 2px solid #60359E;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}


@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}